<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <!-- Puerto HTTP -->
    <add key="App:Url" value="http://+:8080" />

    <!-- PostgreSQL -->
    <add key="Db:Postgres:Host"     value="192.168.1.192" />
    <add key="Db:Postgres:Port"     value="5432" />
    <add key="Db:Postgres:Database" value="sinerfin" />
    <add key="Db:Postgres:Username" value="sinerfin" />
    <add key="Db:Postgres:Password" value="COLOCA_AQUI_TU_PASSWORD" />

    <!-- SQL Server -->
    <add key="Db:SqlServer:ConnectionString"
         value="Server=192.168.1.26,1433;Database=SINERFIN;User Id=sinerfinuser;Password=COLOCA_AQUI_TU_PASSWORD;Encrypt=false;TrustServerCertificate=true;" />

    <!-- SQL Server Dev -->
    <add key="Db:SqlServerDev:ConnectionString"
         value="Server=192.168.1.26,1433;Database=otdm;User Id=sinerfinuser;Password=COLOCA_AQUI_TU_PASSWORD;Encrypt=false;TrustServerCertificate=true;" />

    <!-- MySQL -->
    <add key="Db:MySql:ConnectionString"
         value="Server=192.168.1.192;Port=3306;Database=sinerfin;Uid=sinerfin;Pwd=COLOCA_AQUI_TU_PASSWORD;SslMode=None;" />

    <!-- Oracle -->
    <add key="Db:Oracle:ConnectionString"
         value="User Id=sinerfin;Password=COLOCA_AQUI_TU_PASSWORD;Data Source=192.168.1.92:1521/SINERFIN;" />

    <!-- DB2 -->
    <add key="Db:Db2:ConnectionString"
         value="Server=192.168.1.92:50000;Database=SINERFIN;UID=sinerfin;PWD=COLOCA_AQUI_TU_PASSWORD;" />
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
        <add name="file"    type="System.Diagnostics.TextWriterTraceListener"
             initializeData="sinerfin-dotnet-clr.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
